*.swp
*.tmp
test-*
!src/test-*
!test-*.h
documentation/html
documentation/xml
test.svg
voronoi
matrix
documentation/*.tag
*.dSYM
.DS_*
documentation.xml
dependencies.mk
include/asio*
.third-party
http-hello
irc-hello
*.db
